<div>
    <p>S'enregistrer</p>
    <form [formGroup]="userForm" (ngSubmit)="inscriptionUser()"> 
        <div>
                <label>Pseudo</label>
                <input formControlName="pseudo">
                <label>Password</label>
                <input formControlName="password">
                <button type="submit" [disabled]="!userForm.valid">S'inscrire</button>
        </div>
    </form>
</div>
<hr>
<p>OU</p>
<div>
    <h3>Se connecter</h3>
    <form [formGroup]="loginForm" (ngSubmit)="login()">
            <label>Pseudo</label>
            <input formControlName="pseudo" required/>
            <label>Mot de passe</label>
            <input formControlName="password" type="password" required/> 
        <div>          
            <button type="submit">Se connecter</button>
        </div>         
    </form>
</div>
