<div class='formTotal'>
    <mat-card class="example-card">
        <h3>S'enregistrer</h3>
        <form [formGroup]="userForm" (ngSubmit)="inscriptionUser()"> 
            <div class="formRegister">
                    <mat-form-field  appearance="outline" hintLabel="Min 4 characters">
                        <mat-label>Pseudo* :</mat-label>
                        <input matInput minlength="4" formControlName="pseudo">
                    </mat-form-field>
                    <mat-form-field appearance="outline" hintLabel="Min 4 characters">
                        <mat-label>Password* :</mat-label>
                        <input matInput minlength="4" formControlName="password">
                    </mat-form-field>
                    <div class="divInterne">
                        <button mat-raised-button type="submit" [disabled]="!userForm.valid">S'inscrire</button>
                    </div>
            </div>
        </form>
    </mat-card>
    <div class="formRegister">

            <p>OU</p>

    </div>
    <mat-card class="example-card">
        <h3>Se connecter</h3>
        <form [formGroup]="loginForm" (ngSubmit)="login()">
            <div class="formRegister">
                <mat-form-field  appearance="outline" hintLabel="Min 4 characters">
                    <mat-label>Pseudo* :</mat-label>
                    <input matInput minlength="4" formControlName="pseudo">
                </mat-form-field>
                <mat-form-field appearance="outline" hintLabel="Min 4 characters">
                    <mat-label>Password* :</mat-label>
                    <input matInput minlength="4" formControlName="password">
                </mat-form-field>   
                <button mat-raised-button type="submit">Se connecter</button>
            </div>      
        </form>
    </mat-card>
</div>