<div class='formTotal'>
    <mat-card class="example-card">
        <h3>S'enregistrer</h3>
        <form [formGroup]="userForm" (ngSubmit)="inscriptionUser()"> 
            <div class="formRegister">
                    <div class="divInterne">
                        <label class='labelPetit'>Pseudo :</label>
                        <input formControlName="pseudo">
                    </div>
                    <div class="divInterne">
                        <label>Password :</label>
                        <input formControlName="password">
                    </div>
                    <div class="divInterne">
                        <button mat-raised-button type="submit" [disabled]="!userForm.valid">S'inscrire</button>
                    </div>
            </div>
        </form>
    </mat-card>
    <div class="formRegister">

            <p>OU</p>

    </div>
    <mat-card class="example-card">
        <h3>Se connecter</h3>
        <form [formGroup]="loginForm" (ngSubmit)="login()">
            <div class="formRegister">
                    <div class="divInterne">   
                        <label class='labelPetit'>Pseudo :</label>
                        <input formControlName="pseudo" required/>
                    </div>
                    <div class="divInterne">   
                        <label>Password :</label>
                        <input formControlName="password" type="password" required/> 
                    </div>
                    <div class="divInterne">          
                        <button mat-raised-button type="submit">Se connecter</button>
                    </div>
            </div>      
        </form>
    </mat-card>
</div>