<div class='modify'> 
    <h2>Modifier un Challenge</h2>
    <mat-card class="example-card">
        <form [formGroup]="modifyForm" (ngSubmit)="modifyChallenge(challengeToShow)"> 
            <div class="formRegister">
                    <div class="divInterne">
                        <label >Challenge :</label>
                        <input formControlName="name" [(ngModel)]="challengeToShow.name">
                    </div>
                    <div class="divInterne">
                        <label >Sequence :</label>
                        <input formControlName="sequence" [(ngModel)]="challengeToShow.sequence">
                    </div>
                    <div class="divInterne">
                            <label class='labelPetit'>  Melodie   :  </label>
                            <input formControlName="melodie" [(ngModel)]="challengeToShow.melodie">
                    </div>
                    <div class="divInterne" id="buttonS">
                        <button mat-raised-button class="allButton" type="submit" [disabled]="!modifyForm.valid">Modifier un Challenge</button>
                        <button mat-raised-button class="allButton" routerLink='/gamepage'>Retour</button>
                    </div>
            </div>
        </form>
    </mat-card>
</div> 










