h2{
    text-align: center;
    margin-top: 48px;
    margin-bottom: 48px;
    font-family: 'Oswald', sans-serif;
}

.welcome {
    display: flex;
    align-items: flex-end;
    height: 100vh;
}

.paraBienvenue{
    text-align: justify;
    margin-top: 16px;
    margin-bottom: 16px;
    font-family: 'Oswald', sans-serif;
    font-size: 24px;
}

.buttonPlay{
    text-align: center;
    margin-top: 40px;
}

.buttonGo{
    background-color : #083D77
}

.blocBienvenue{
    width: 60%;
    font-family: 'Oswald', sans-serif;
    font-size: 24px;
    padding-bottom: 75px;
    margin: 0 auto;
}


@media (max-width: 800px){
    
    .welcome{
        padding-top : 100px;
        height: 100vh;
        display: block;
    }
};