<div class="welcome">
    <div class='blocBienvenue'>
        <div class='content'>
            <h2>Bienvenue sur Melody Memory !</h2>
            <div class='paraBienvenue'>C'est un jeu de mémoire avec les sons de la gamme de DO Majeur. 
                Basé sur le concept du jeu SIMON @Hasbro, il vous suffit simplement d'écouter et de repeter la séquence musical qui sera jouer.
            </div>
            <div class='paraBienvenue'>
                Que vous ayez l'oreille musical ou non, ce jeu est fait pour vous divertir et vous plongez dans le monde passionant de la musique.
                A vos écouteur ! Pret ? Ecoutez ! Et n'oubliez pas de vous amusez !
            </div>
            <div class='buttonPlay'>
                <button mat-raised-button class='buttonGo' routerLink='formulaire'>Jouez</button>
            </div>
        </div>
    </div>
</div>

