.challengeDetail{
    width: 80%;
    margin: 0 auto;
    font-family: 'Oswald', sans-serif;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    height : 600px;
    justify-content: space-around;
}

h3{
    text-align: center;
    padding-top: 200px;
}


.lancementMusique{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 60%;
    align-items: center;
    margin: 0 auto;
}

.allButton{
    background-color: #083D77;
    color: #B9BBB5;
}


.mat-raised-button{
    margin-left: 20px;
    margin-right: 20px;
}    

.noteButton{
    margin : 0 auto;
}

.buttonAutre{
    margin : 0 auto;
}