<div class="challengeDetail">
    <div>
        <h3>{{challengeToShow?.name}}</h3>
    </div>
    <div class='lancementMusique'>
        <p>Lancer le melody memory :</p>
        <button mat-raised-button class="allButton" (click)='notePlayed()'>Lancer</button>
    </div>
        <div class='noteButton' >
            <button mat-raised-button class="allButton" (click)="pushDO()">DO</button>
            <button mat-raised-button class="allButton" (click)="pushRE()">RE</button>
            <button mat-raised-button class="allButton" (click)="pushMI()">MI</button>
            <button mat-raised-button class="allButton" (click)="pushFA()">FA</button>
            <button mat-raised-button class="allButton" (click)="pushSOL()">SOL</button>
            <button mat-raised-button class="allButton" (click)="pushLA()">LA</button>
            <button mat-raised-button class="allButton" (click)="pushSI()">SI</button>
        </div>
        <div class='buttonAutre'>
            <button mat-raised-button class="allButton" (click)='verificationSequence()'>Verifier la séquence</button>
            <button mat-raised-button class="allButton" (click)='resetSequence()'>Reset la séquence</button>
            <button mat-raised-button class="allButton" (click)='disabledAstuce()' disabled={{MusiqueLaunch}}>Afficher une astuce</button>
            <button mat-raised-button class="allButton" routerLink='/gamepage'>Retour</button>
        </div>
        <div *ngIf="astuceATrouver">
            Astuce : il y a {{astuceFind}} note à trouver !
        </div>
</div>