.desktopVersion{
    background-color: #083D77;
    color: #dbdcdf;
    position: fixed;
    width: 100%;
    z-index: 100;
}
.menu{
    display: flex;
    align-items: center;
    margin: 0%;
    padding: 0px;
    list-style-type: none;
    justify-content: space-around;
}

.logout{
    border: 1px solid black;
}

.logo{
    cursor: pointer;
}

.connexion{
    border: solid 2px #dbdcdf;
    border-radius: 10px;
    padding: 4px 4px 4px 4px;
}

img{
    cursor: pointer;
    height: 68px;
    margin: auto;
    margin-top: 0px;
    margin-bottom: -4px;
}


h1{
    font-family: 'Oswald', sans-serif;
}
